/* TODO: https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/ */
/*  Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img {
  display: block;
  max-width: 100%;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2 {
  overflow-wrap: break-word;
}

/* Variables */
:root {
  /* Colors */
  --bg-main: #fafaf9;
  --bg-body: #e5eaf0;
  --bg-card: #fff;
  --c-text-accent: #111729;
  --c-text: #677489;
  --author-top-border-color: #67748929;
  /* Font */
  --lato-body-weight: 420;
  --lato-body-size: 1rem;
  --lato-small-weight: 400;
  --lato-small-weight-header: 700;
  --lato-small-size: 0.8rem;
  --lato-small-size-header: 1rem;
  --poppins-title-weight: 520;
  --poppins-title-size: 1.5rem;
  /* Auxiliar */
  --max-width-of-card: 430px;
  --border-radius: 15px;
  --card-author-padding-horizontal: 2rem;
  --card-apdding-bottom: 2rem;
}

/* Elements */
html {
  height: 100%;
}

body {
  background: var(--bg-body);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  background: var(--bg-main);
  width: max(90%, 500px);
  height: max(90%, 600px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* classes */
.card {
  background: var(--bg-card);
  box-shadow: 0 30px 100px 0 #11172942;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15fr 6fr 5fr;
  max-width: var(--max-width-of-card);
  border-radius: var(--border-radius);
  gap: 1.5rem;
}

.hero-image {
  background:
    url(../images/hero-image-business-card.png),
    url(../images/white-overlay.svg);
  background-blend-mode: overlay;
  background-size: cover, contain;
  background-position: center, 0% 101%;
  background-repeat: no-repeat;

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card-content {
  padding: 0 var(--card-author-padding-horizontal);
  margin-top: -1rem;
}

.card-header {
  color: var(--c-text-accent);
}

.card-body {
  line-height: 1.5;
  margin-top: 0.6rem;
  color: var(--c-text);
}

.card-author {
  color: var(--c-text);
  display: flex;
  padding: 0 var(--card-author-padding-horizontal) 0 var(--card-author-padding-horizontal);
  gap: 1rem;
  align-items: center;
  border-top: 0.01rem solid var(--author-top-border-color);
}

.card-author-avatar {
  height: 2.5rem;
  border-radius: 50%;
}

.card-author-description {
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  columns: var(--c-text);
}

.card-author-description-avatar {
  flex-basis: auto;
}


.lato-body {
  font-family: "Lato", sans-serif;
  font-weight: var(--lato-body-weight);
  font-size: var(--lato-body-size);
  font-style: normal;
}

.lato-small-header {
  font-family: "Lato", sans-serif;
  font-weight: var(--lato-small-weight-header);
  font-size: var(--lato-small-size-header);
  font-style: normal;
}

.lato-small {
  font-family: "Lato", sans-serif;
  font-weight: var(--lato-small-weight);
  font-size: var(--lato-small-size);
  font-style: normal;
}

.poppins-title {
  font-family: "Poppins", sans-serif;
  font-weight: var(--poppins-title-weight);
  font-size: var(--poppins-title-size);
  font-style: normal;
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #fafaf9;
    --bg-body: #e5eaf0;
    --bg-card: #111729;
    --c-text-accent: #e5eaf0;
    --c-text: #ebeef2;
    --author-top-border-color: #6774898c;
  }

  .hero-image {
    background:
      url(../images/hero-image-business-card.png),
      url(../images/grey-overlay.svg);
    background-blend-mode: darken;
    background-size: cover, contain;
    background-position: center, 0% 101%;
    background-repeat: no-repeat;
  }
}